:root
{
  --text-color: black;
  --muted-text-color: rgb(130, 130, 130);
  --link-color: rgb(90, 90, 255); 
  --link-hover-color: rgb(70, 70, 220);

  --nav-background-color: rgb(208, 210, 218);
  --menu-background-color: rgb(213, 215, 223);
  --page-header-background-color: rgb(226, 225, 221);
  --background-color: rgb(255, 250, 235);
  --border-color: rgb(184, 184, 184);

  --content-background-color: rgb(225, 225, 227);
  --menu-link-hover-background-color: #00000026;

  --nav-height: 3.5rem;
  --sidebar-width: 14.5rem;
  --main-gap: 4rem;

  --border-radius: 3px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
 
}

html * {
  margin: 0;
  padding: 0;
  font-size: 14.25px;
  line-height: 1.4;
  letter-spacing: 0.1px;
  box-sizing: border-box; 
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}


nav.navigations { 
  background-color: var(--nav-background-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: var(--nav-height);
  border-bottom: 1px solid var(--border-color);
  z-index: 9999;
}

div.nav__section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.15rem;
  margin-right: 1rem;
}

img.down-arrow {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  transition: transform 0.3s ease;
  transform: rotate(90deg) translateX(.25rem);
  filter: invert(1);
}

img.down-arrow.rotate {
  transform: rotate(630deg) translateX(.25rem);
}

button.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0.25rem;
  margin: 0.25rem;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button.nav-btn.user-btn {
  color: rgb(245, 245, 245);
  background-color: rgba(0, 0, 0, 0.07);
  font-size: 1.4rem;
  padding: 0.5rem 0.75rem;
  }

button.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

img.nav-icon {
  display: inline-block;
  height: calc(var(--nav-height) - 1.5rem);
  width: calc(var(--nav-height) - 1.5rem);
  filter: invert(1);
}

a.site-logo {
  display: block;
  background-image: url('/assets/images/site-logo-with-text.svg');
  height: calc(var(--nav-height) - 0.5rem);
  width: 10rem;
  max-height: calc(var(--nav-height) - 0.5rem);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: var(--invert, 0);
}

div.nav__section a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 575;
  transition: color 0.3s ease;
}

div.nav__section a:hover {
  color: var(--text-muted-color);
}

div.navbar__dropdown {
  background-color: var(--menu-background-color);
  flex-direction: column;
  position: fixed;
  padding: 1rem 1.625rem;
  top: calc(var(--nav-height) - .625rem);
  right: 0;
  box-shadow: var(--box-shadow);

  display: flex;
  z-index: -1;
  opacity: 0;
  width: 8rem;
  height: 10.5rem;
  transition: 
    opacity 0.3s ease,
    width 0.3s ease,
    height 0.3s ease;
}

div.navbar__dropdown * {
  font-size: .2rem;
  transition: font-size 0.3s ease;
}


div.navbar__dropdown.show {
  z-index: 9998;
  opacity: 1;
  width: 18.625rem;
  height: 26.625rem;
}

div.navbar__dropdown.show * {
  font-size: 1rem;
}

div.navbar__dropdown a {
  color: var(--text-color);
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  width: 100%;
  display: block;
  transition: color 0.3s ease;
}

div.navbar__dropdown a:hover {
  text-decoration: underline;
}

div.navbar__dropdown__section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0 1rem;
  border-top: 1px solid var(--border-color);
}

.muted-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  width: 100vw;
  top: var(--nav-height);
  min-height: calc(100vh - var(--nav-height));
  z-index: -10;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.muted-overlay.active {
  z-index: 9998;
  opacity: 1;
}

main {
  min-height: calc(80vh - var(--nav-height));
  margin-top: calc(var(--nav-height) - 1px);
  margin-left: calc(var(--sidebar-width) - 1px);
  min-height: calc(100vh - var(--nav-height) - 1px);
  align-items: center;
  transition: margin 0.3s ease;
}

header.page-header {
  background-color: var(--page-header-background-color);
  padding: 2rem 1rem;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

section.card-section {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

aside.sidebar {
  background-color: var(--menu-background-color);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: var(--nav-height);
  left: 0;
  width: var(--sidebar-width);
  height: 100vh;
  transition: transform 0.2s ease;
  border-right: 1px solid var(--border-color);
  z-index: 9999;
}

.sidebar__section h2 {
  display: flex;
  align-items: center;
  height: 3rem;
  padding-left: 50px;
}

.sidebar__list {
  margin: 1.5rem 0;
}

.sidebar__list a {
  color: var(--text-color);
  font-weight: 650;
  text-decoration: none;
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.sidebar__list a:hover {
  background-color: var(--list-hover-background-color);
  text-decoration: none;
}

button.max-media {
  display: none;
  visibility: hidden;
}

aside.sidebar.slide-in {
  transform: translateX(0%);
}

.full-width-container {
  max-width: 180ch;
  margin: 2rem auto;
  padding: 0 1rem;
}

.top-controller {
  padding: 1rem;
}


button.nav-btn.side-bar-toggle {
  display: none;
  visibility: hidden;
}

@media (max-width: 900px) {
  button.nav-btn.side-bar-toggle {
    display: block;
    visibility: visible;
  }

  aside.sidebar {
    transform: translateX(-100%);
  }

  main {
    width: 100vw;
    margin-left: 0;
  }

  footer.cor-footer {
    width: 100vw;
    margin-left: 0;
  }
}

@media (max-width: 650px) {
  body {
    font-size: 10px;
  }
  a.site-logo {
    background-image: url('/assets/images/site-logo-only.svg');
    width: 5rem;
  }
  .full-width-container {
    margin: 1rem auto;
    padding: 0.1rem;
  }
}

aside.sidebar.slide-in {
  transform: translateX(0%);
}
