header {
  border: 1px dotted yellow;
}

body {
  border: 1px dotted green;
}

nav {
  border: 1px dotted orange;
}

main {
  border: 1px dotted blue;
}

main > * {
  border: 1px dotted purple;
}

aside {
  border: 1px dotted pink;
  background-color: pink;
}

footer {
  border: 1px dotted red;
}
