a {
  color: var(--link-color);
  font-size: 0.9rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img.thumbnail {
  background-color: white;
  width: 5rem;
  height: 5rem;
}

img.search-poster {
  width: 20rem;
  height: 30rem;
  object-fit: cover;
}

img.org-thumbnail {
  width: 5rem;
  height: 5rem;
}

button.hamberger {
  background-color: transparent;
  background-image: url('/assets/menu.svg');
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.event-image {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto 2rem auto;
  border-radius: 8px;
}

.event-poster {
  background-color: #f0f0f0;
  min-width: 40ch;
  height: 60ch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.large-poster {
  background-color: #f0f0f0;
  width: 90ch;
  height: 120ch;
}

.placeholder-animation {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.placeholder-title {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: bold;
}

