<fieldset id="contactInfo" class="mb-1">
  <legend>Contact Information</legend>
  <dl>
    <dt>First Name:</dt>
    <dd>{{ guest.first_name }}</dd>
    <dt>Last Name:</dt>
    <dd>{{ guest.last_name }}</dd>
    <dt>Email:</dt>
    <dd>{{ guest.email }}</dd>
    <dt>Phone:</dt>
    <dd>{{ guest.phone }}</dd>
  </dl>
  <p class="mb-2">You can update your contact information at any time.</p>
  <button 
    class="btn"
    hx-get="{% url 'contact_info_form' %}"
    hx-target="#contactInfo"
    hx-swap="outerHTML"
    >
    Edit Contact Info
  </button>

</fieldset>
