<div class="relative" id="registrationCard{{ registration.safe_slug }}"> 

  <ul class="collapse-navigation-list" id="collapse{{ registration.safe_slug }}" data-collapse-id="collapse{{ registration.safe_slug }}">

    <li>
      <button
        class="btn-dropdown"
        hx-get="{% url 'registration_form' %}?registration_slug={{ registration.safe_slug }}"
        hx-target="#contentRegistration{{ registration.safe_slug }}"
        hx-swap="innerHTML">
        Details
      </button>
    </li>

    <li>
      <button
        class="btn-dropdown delete-btn"
        hx-get="{% url 'registration_cancel' %}?registration_slug={{ registration.safe_slug }}"
        hx-target="#contentRegistration{{ registration.safe_slug }}"
        hx-swap="innerHTML"
        >
        {% if registration.status == "draft" %}
          Delete
        {% elif registration.status == "cancelled" %}
          Reapply
        {% else %}
          Cancel Registration
        {% endif %}
      </button>
    </li>
  </ul>

  <!-- Event details card for event -->

  <details class="app-card" id="details{{ registration.safe_slug }}" data-card-id="details{{ registration.safe_slug }}">
    <summary class="app-card__summary">

      <div class="row gap-1 center">
        <h3 class="app-card__title">{{ registration.event.name }}</h3>
        <p class="app-card__subtitle">{{ registration.status }}</p>
      </div>

      <button
        class="ellipsis-icon"
        onclick="openAppDropdown(event)"
        alt="Menu icon for event details"
        data-toggle="collapse{{ registration.safe_slug }}"
        >
      </button>

    </summary>

    <div id="contentRegistration{{ registration.safe_slug }}">

      {% if registration.status == "draft" %}
        <!-- If the registration is in draft status, show the registration form -->
        {% include 'discover/fragments/registration_form.html' with registration=registration %}
      {% else %}
        <!-- If the registration is not in draft status, show the registration details -->
        {% include 'discover/fragments/registration_details.html' with registration=registration %}
      {% endif %}

    </div>

  </details>

</div>

