<section id="teamAndDivisionSection">
  <fieldset id="teams" class="mb-1">
    <legend>Your Teams</legend>
      <form class="inline-input-form mb-1" id="teamForm" method="post" hx-post="{% url 'team_form' %}" hx-target="#team-info" hx-swap="outerHTML">
        {% csrf_token %}
        <input type="text" id="team-name" name="name" required class="form-control" placeholder="Name a new team" />
        <button
          hx-post="{% url 'team_form' %}"
          hx-target="#teamForm"
          hx-swap="outerHTML"
          >
          Create
        </button>
      </form>
    {% for team in teams %}
    <h2>{{ team.name }}</h2>
    <form class="pad-1" id="divisionForm">
              {% csrf_token %}
      <table class="table">
        {% for division in team.divisions.all %}
        <tr>
          <td>
            {{ division }}
          </td>
          <td>
            <img
            class="icon"
            src="/assets/cross_red.svg"
            alt="Delete Division"
            hx-delete=""
            hx-target="#teamAndDivisionSection"
            hx-swap="outerHTML"
            >
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td>
            <input type="hidden" name="team" value="{{ team.id }}">

            <label>
              <select name="gender">
                <option value="none">gender</option>
                <option value="male">male</option>
                <option value="female">female</option>
              </select>
            </label>

            <label>
              <select name="age">
                <option value="none">Age</option> <option value="open">Open</option>
                <option value="1">U1</option> <option value="2">U2</option> <option value="3">U3</option> <option value="4">U4</option>
                <option value="5">U5</option> <option value="6">U6</option> <option value="7">U7</option> <option value="8">U8</option>
                <option value="9">U9</option> <option value="10">U10</option> <option value="11">U11</option> <option value="12">U12</option>
                <option value="13">U13</option> <option value="14">U14</option> <option value="15">U15</option> <option value="16">U16</option>
                <option value="17">U17</option> <option value="18">U18</option> <option value="25">U25</option>
                <option value="30">O30</option> <option value="35">O35</option> <option value="45">O45</option> <option value="55">O55</option>
                <option value="65">O65</option> 
              </select>
            </label>

            <label>
              <select name="level">
                <option value="none">Level</option> <option value="beginner">Beginner</option>
                <option value="intermediate">Intermediate</option> <option value="advanced">Advanced</option>
                <option value="elite">Elite</option> <option value="bronze">Bronze</option>
                <option value="silver">Silver</option> <option value="gold">Gold</option>
                <option value="platinum">Platinum</option> <option value="jv">JV</option>
                <option value="varsity">Varsity</option> <option value="club">Club</option>
              </select>
            </label>
          </td>
          <td>
            <img
            class="icon"
            src="/assets/add.svg"
            hx-from="#divisionForm"
            hx-post="{% url 'division_form' %}"
            hx-target="#teamAndDivisionSection"
            hx-swap="outerHTML"
            >
          </td>
        </tr>
      </table>
    </form>
    {% endfor %}

    {% if not teams %}
    <div class="pad-1">
      <p>You have no teams in your workspace.</p>
      <p>Add a team to register for events.</p>
    </div>
    {% endif %}
  </fieldset>


  <form id="registrationForm" method="POST" action="{% url 'teams' %}" enctype="multipart/form-data">
    <fieldset class="mb-2">
      <legend>These Teams will be registered for the event</legend>
      {% csrf_token %}
      {% for team in teams %}
        {% for division in team.divisions.all %}
          <input type="hidden" name="divisions" value="{{ division.id }}">
        {% endfor %}
      {% endfor %}
      {% for registration in registrations %}
        {% if registration.status == 'draft' %}
        <div class="pad-1">

          <input type="hidden" name="registration_ids" value="{{ registration.id }}">
          <input
            type="checkbox"
            id="registration-{{ registration.id }}"
            name="registration-{{ registration.id }}"
            value="yes"
            checked
            >
          <strong>(event) {{ registration.event.name }}</strong>

          <div class="pad-1">
          {% for team in teams %}
            {% for division in team.divisions.all %}
            <input 
              type="checkbox"
              id="checkbox-{{ registration.id }}-{{ division.id }}"
              name="{{ registration.id }}-{{ division.id }}"
              value="yes"
              checked
              >
              <label for="{{ registration.id }}-{{ division.id }}">
                {{ team.name }} - {{ division.gender }} (U/O) {{ division.age }} [{{ division.level }}]
              </label><br>

            {% endfor %}
            {% if not team.divisions.all %}
              <p>You must add a division to this team before you can register.</p>
            {% endif %}
          {% endfor %}
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </fieldset>

    <h2>Confirm Registration</h2>
    <div class="mb-1">
      <input type="checkbox" id="confirm-correct" name="confirm-correct" value="yes" required>
      <label for="confirm-correct">I confirm that the above information is correct.</label><br>
    </div>

    <button
      type="submit"
      class="btn"
      hx-post="{% url 'teams' %}"
      hx-target="#teamAndDivisionSection"
      hx-swap="outerHTML"
      >
      Submit Registration
    </button>
  </form>

  {% if not registrations %}
    <p class="mb-2">You haven't started any registrations yet.</p>
    <a href="/" class="btn">Discover Events</a>
  {% endif %}
</section>


