{% extends "gameday/base.html" %}

{% block content %}

<h2>Division Name</h2>
<section>
  <h3>Games</h3>
  <details>
    <summary class="large">
      by team
    </summary>
  </details>
  <details>
    <summary class="large">
      all
    </summary>

    <details>
      <summary>
        Game 1 - Team A vs Team B
      </summary>

      <section>
        <h2><a href="/gameday/game/">Game 1</a></h2>
        <h3>U13 M Bronze Division</h3>
        <dl>
          <dt>Status:</dt>
          <dd>Scheduled</dd>
          <dt>Date:</dt>
          <dd>2023-10-01</dd>
          <dt>Time:</dt>
          <dd>10:00 AM - 11:00 AM</dd>
        </dl>
        <div class="gameday-matchup">
          <div>
            <img class="team-logo" src="/assets/defaults/team-logo-1.jpg" alt="Team Logo 1">
            <h3>Team A</h3>
          </div>
          <img src="/assets/defaults/vs.jpg" alt="VS">
          <div>
          <img class="team-logo" src="/assets/defaults/team-logo-2.jpg" alt="Team Logo 2">
          <h3>Team B</h3>
          </div>
        </div>
        <dl>
          <dt>Winner:</dt>
          <dd>Proceeds to Game 8</dd>
          <dt>Losser</dt>
          <dd>Eliminated</dd>
        </dl>
      </section>

    </details>

    <details>
      <summary>
        Game 1 - Team A vs Team B
      </summary>
    </details>
    <details>
      <summary>
        Game 1 - Team A vs Team B
      </summary>
    </details>
    <details>
      <summary>
        Game 1 - Team A vs Team B
      </summary>
    </details>
    <details>
      <summary>
        Game 1 - Team A vs Team B
      </summary>
    </details>
    <details>
      <summary>
        Game 1 - Team A vs Team B
      </summary>
    </details>
    <details>
      <summary>
        Game 1 - Team A vs Team B
      </summary>
    </details>
    <details>
      <summary>
        Game 1 - Team A vs Team B
      </summary>
    </details>
    <details>
      <summary>
        Game 1 - Team A vs Team B
      </summary>
    </details>

  </details>
</section>

{% endblock %}
{% block scripts %}
{% endblock %}
