:root
{
  --text-color: #fafafa;
  --text-muted-color: #b1b1b1;
  --link-color: #1e90ff;

  --background-color: #3a3a3e;

  --menu-background-color: #414146;
  --nav-background-color: #26262b;
  --border-color: #545454;
  --menu-link-hover-background-color: #00000026;
  --content-background-color: transparent;
  --page-header-background-color: transparent;
  --list-header-background-color: #68686c;

  --invert: invert(1);
}
