:root
{
  --text-color: black;
  --text-muted-color: #b1b1b1;

  --background-color: rgb(213, 213, 213);

  --menu-background-color: #414146;
  --menu-background-color: rgb(198, 200, 208);
  --nav-background-color: var(--menu-background-color);

  --border-color: #c7c7c7;
  --menu-link-hover-background-color: #00000026;
  --page-header-background-color: rgb(158, 160, 168);
}
