html.light {
  --invert: 0;

  --gray: rgb(60, 60, 60);
  --blue: rgb(20, 120, 223);
  --yellow: rgb(255, 150, 0);
  --red: rgb(200, 30, 10);
  --green: rgb(30, 160, 10);
  --accent-color: rgb(100, 0, 200);

  --very-light-blue: rgb(250, 250, 255);
  --light-blue: rgb(225, 225, 240);
  --medium-blue: rgb(160, 160, 255);
  --accent-blue: rgb(105, 105, 200);
  --dark-blue: rgb(0, 0, 65);






  --quote-color: rgb(60, 60, 90);

  --box-shadow: -0.25rem 0.25rem .5rem rgba(105, 105, 200, 0.9);

  --cor-footer-background-color: #f8f9fa; 
  --cor-footer-color: #333;
  --cor-footer-link-color: #666;
  --cor-footer-link-hover-color: #000;

  --cor-footer-background-color: rgb(200, 200, 250);
}

a {
}


body {
  color: var(--dark-blue);
  background-color: var(--very-light-blue);
}

main {
  background: linear-gradient(to right, var(--accent-blue), var(--very-light-blue));
}

header {
  background-color: var(--very-light-blue);
}

header img.logo {
  filter: invert(var(--invert));
}

nav {
  background-color: var(--very-light-blue);
}


nav ul li a {
  color: var(--nav-text-color);

}

nav ul li a:hover {
  color: var(--nav-text-hover-color);
}

main > section {
  background-color: var(--light-blue);
  border-top: 1px solid rgba(0, 0, 95, 0.5);
  box-shadow: var(--box-shadow);
}


@keyframes heroShift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.landing-hero {
  border: 0;
  border-radius: 0;
  background-image: linear-gradient(to right, var(--medium-blue), var(--very-light-blue));
  box-shadow: var(--box-shadow);
}

.landing-hero__background  {
  background-image: url( 'http://abracadabrasports.com/assets/images/background/wave.svg');
  background-size: 500% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  animation: heroShift 40s ease-out forwards;
}

.hero-text {
  background: white;
  color: var(--dark-blue);
}

.hero-screenshot {
  background: var(--light-blue);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius, 8px);
}

div.band {
  background-color: rgba(200, 200, 250, 0.8);
  box-shadow: var(--box-shadow);
}

