
<div class="form-container">
  <h1>Add Venue</h1>
  {% for venue in event.venue.all %}
  <div class="row gap-1 center mb-2">
    <address class="pad-1">
      <span>{{ venue.name}}</span><br>
      <span>{{ venue.address.street }} {{ venue.address.street2 }}</span><br>
      <span>{{ venue.address.city }}, {{ venue.address.state }} {{ venue.address.postal_code}}</span><br>
      <span>{{ venue.address.country }}</span><br>
    </address>

    <button
      hx-post=""
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"'
      hx-target="#teamAndDivisionSection"
      hx-swap="outerHTML"
      >
      <img class="btn tag" src="/assets/icons/cross.svg" alt="Delete Division">
    </button>

  </div>
  {% endfor %}

  <h3>Add a venue from your address book.</h3>
  <select class="mb-2" name="address" id="address-select">
  {% for address in addresses %}
    <option value="{{ address.id }}" >
    {{ address.name }} - {{ address.street }} {{ address.street2 }}, {{ address.city }}, {{ address.state }} {{ address.postal_code}}, {{ address.country }} 
    </option>
  {% endfor %}
  </select>



<div class="form-container">

  <form class="app-form" action="{% url 'event_venue_form' %}" method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    <input type="hidden" name="event_slug" value="{{ event.safe_slug }}" />

    <input type="hidden" name="lat" class="lat" placeholder="Latitude">
    <input type="hidden" name="lon" class="lon" placeholder="Longitude">

    <h3>Name Address</h3>
    <input class="mb-1" type="text" name="name" class="name" placeholder="Add Name" required>

    <div>
      <h3>Address Details</h3>
        <h4>Get Suggestions</h4>
        <input class="search-input" type="text"  placeholder="Start typing..." oninput="searchAddress(this)" autocomplete="off" id="addressInput" />
      <ul class="suggestions mb-1"></ul>

      <div class="line-space mb-1">
        <input class="street" type="text" name="street" placeholder="Street Address" />
        <input class="city" type="text" name="city" placeholder="City" />
        <input class="state" type="text" name="state" placeholder="State/Province" />
        <input class="postal_code" type="text" name="postal_code" placeholder="Postal Code" />
        <input class="country" type="text" name="country" placeholder="Country" value="United States" />
      </div>

      <button class="btn" type="submit">Add Address</button>

    </div>

  </form>


</div>
