<button 
  class="btn mb-1"
  hx-get="{% url 'manage_division_form' %}?event_slug={{ event.safe_slug }}"
  hx-target="#modalContent"
  hx-swap="innerHTML"
  hx-trigger="click"
  onclick="document.getElementById('assignModal').showModal();"
  >
  Add Divisions
</button>

<div class="app-card-container" id="entries">

  <h2>Divisions</h2>

  {% for division in event.divisions.all %}

    {% include 'app/fragments/manage_division_card.html' with division=division %}

  {% empty %}

    <p>No divisions available for this event.</p>

  {% endfor %}

</div>
