<!-- Event details card for event: {{ event.name }}-->
<div class="relative">
  <ul class="collapse-navigation-list" id="collapse{{ event.safe_slug }}" data-collapse-id="collapse{{ event.safe_slug }}">
        <li>
          <button
            class="btn-link"
            hx-get="{% url 'event_form_fragment' event.safe_slug %}"
            hx-target="#content{{ event.safe_slug }}"
            hx-swap="innerHTML"
            >
            Info
          </button>
        </li>

        <li>
          <button
            class="btn-link"
            hx-get="{% url 'event_location_fragment' event.safe_slug %}"
            hx-target="#content{{ event.safe_slug }}"
            hx-swap="innerHTML"
            >
            Locations
          </button>
        </li>

        <li>
          <button
            class="btn-link"
            hx-get="{% url 'event_images_fragment' event.safe_slug %}"
            hx-target="#content{{ event.safe_slug }}"
            hx-swap="innerHTML"
            >
            Poster
          </button>
        </li>

        <li>
          <button
            class="btn-link"
            hx-get="{% url 'event_lifecycle_fragment' event.safe_slug %}"
            hx-target="#content{{ event.safe_slug }}"
            hx-swap="innerHTML"
            >
            Lifecycle
          </button>
        </li>
        <li>
          <a class="btn-link" href="{% url 'event_details' event.safe_slug %}">Page</a>
        </li>
      </ul>

  <details class="app-card" id="details{{ event.safe_slug}}" data-card-id="details{{ event.safe_slug }}">
    <summary class="app-card__summary" data-original-text="{{ event.name }}">
      <button 
        hx-get="{% url 'event_details_fragment' event.safe_slug %}"
        hx-target="#content{{ event.safe_slug }}"
        hx-swap="innerHTML"
        class="btn-link">{{ event.name }}</button>

      <button
        class="ellipsis-button"
        src="/assets/menu.svg"
        onclick="openAppDropdown(event)"
        alt="Menu icon for event details"
        data-toggle="collapse{{ event.safe_slug }}"
        >
        ...
      </button>
    </summary>

    <div
      class="pad-1"
      id="content{{ event.safe_slug }}"
      >
      {% include 'app/fragments/event_details.html' with event=event %}
    </div>
  </details>
</div>

