<form
  class="app-form"
  method="post"
  hx-post="{% url 'event_form' %}"
  >

  {% csrf_token %}
  <input type="hidden" name="event_slug" value="{{ event.safe_slug }}">

  <div class="form-fields">
    {{ form.as_p }}
  </div>

  <div class="row gap-1 pad-1">

    <button
      type="submit"
      class="btn"
      hx-post="{% url 'event_form' %}"
      hx-target="#eventCard{{ event.safe_slug }}"
      hx-swap="innerHTML"
      >
      Submit
    </button>

    <button
      type="button"
      class="btn btn-secondary"
      hx-get="{% url 'event_details_fragment' %}?event_slug={{ event.safe_slug }}"
      hx-target="#content{{ event.safe_slug }}"
      hx-swap="innerHTML"
      >
      Cancel
    </button>
  </div>

</form>
