<strong>Event Status:</strong> {{ event.status }}<br>
<div class="row wrap gap-2">
  <form class="app-form" method="POST" action="{% url 'event_lifecycle_fragment' event.safe_slug %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-2">
    {{ form.as_p }}
    </div>

    <button 
      hx-post="{% url 'event_lifecycle_fragment' event.safe_slug %}"
      hx-target="#content{{ event.safe_slug }}"
      hx-swap="innerHTML"
      type="submit">Submit</button>
  </form>
  <form>
    <button
      class="btn"
      >
      Publish Event
    </button>

  </form>
</div>
