<form
  class="app-form"
  method="post"
  hx-post="{% url 'event_form_fragment' event.safe_slug %}"
  hx-target="#newEventForm"
  hx-swap="outerHTML"
  >

  {% csrf_token %}
  <div class="form-fields">
    {{ form.as_p }}
  </div>

  <div class="row gap-1 pad-1">

    <button
      type="submit"
      class="btn"
      hx-post="{% url 'event_form_fragment' event.safe_slug %}"
      hx-target="#content{{ event.safe_slug }}"
      hx-swap="innerHTML"
      >
      Submit
    </button>

    <button
      type="button"
      class="btn btn-secondary"
      hx-get="{% url 'event_details_fragment' event.safe_slug %}"
      hx-target="#content{{ event.safe_slug }}"
      hx-swap="innerHTML"
      >
      Cancel
    </button>
  </div>

</form>
