<div class="event-poster-selection">
  <div class="upload-image-icon">
    <img
      src="/assets/icons/upload.svg"
      alt="Add an image."
      style="filter: invert(1);"
      onclick="document.getElementById('uploadDialog').showModal()"
      />
  </div>

  {% for image in images %}
  <form>
    <input type="hidden" name="event_slug" value="{{ event.safe_slug }}" />
    <input type="hidden" name="image_slug" value="{{ image.safe_slug }}" />
    <button
      hx-get="{% url 'event_image_accept_fragment' %}"
      hx-target="#content{{ event.safe_slug }}"
      hx-swap="innerHTML"
      >

      <img
        src="{{ image.image.url }}"
        alt="{{ image.caption }}"
        />
    </button>
  </form>
  {% endfor %}
</div>
