<form
  class="app-form"
  method="post"
  hx-post="{% url 'event_form' %}"
  hx-target="#newEventForm"
  hx-swap="outerHTML"
  >

  <img
    src=""
    alt="Event Poster Preview"
    class="thumbnail pad-1"
    >

  {% csrf_token %}
  <div class="form-fields">
    {{ form.as_p }}
  </div>
  <div class="row gap-1 pad-1">
    <button type="submit" class="btn">Submit</button>
    <button
      type="button"
      class="btn"
      hx-get="{% url 'new_event_card' %}"
      hx-target="{{ card_id }}"
      hx-swap="outerHTML"
      >
      Cancel
    </button>
  </div>
</form>

<div class="m-1">
  <button class="btn-link" href="#">Locations</a>
</div>
