{% extends "user/base.html" %}

{% block title %}<title>Profile</title>{% endblock %}

{% block main %}
  <main>
    <section class="user-section" id="General">
      <h2>General</h2>
      <label>
        <input type="checkbox">
        Toggle Section
      </label>
      <label>
        <input type="checkbox">
        Toggle Section
      </label>
      <label>
        <input type="checkbox">
        Toggle Section
      </label>
    </section>

    <section class="user-section" id="security">
      <h2>Security</h2>
      <label>
        <input type="checkbox">
        Toggle Section
      </label>
      <label>
        <input type="checkbox">
        Toggle Section
      </label>
      <label>
        <input type="checkbox">
        Toggle Section
      </label>
    </section>

    <section class="user-section" id="notifications">
      <h2>Notifications</h2>
      <label>
        <input type="checkbox">
        Toggle Section
      </label>
      <label>
        <input type="checkbox">
        Toggle Section
      </label>
      <label>
        <input type="checkbox">
        Toggle Section
      </label>
    </section>

  </main>
{% endblock %}
