{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark">


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/core.css">
    <link rel="stylesheet" href="/static/css/elements.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/utils.css">
    <link rel="stylesheet" href="/static/css/themes/discover.css">
    <link rel="stylesheet" href="/static/css/forms/sidebar-search.css">

    {% block extra_head %}
    {% endblock %}
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>


    <title>{% block title %}Abracadabra Sports{% endblock %}</title>

</head>


<body>

<nav class="navigations">
  <div class="nav__section">

    <button id="sidebarToggle" class="nav-btn">
      <img class="nav-icon" src="/assets/icons/menu.svg" alt="Open Sidebar">
    </button>

    <a class="site-logo" href="{% url 'home' %}"></a>

  </div>

  <div class="nav__section">
  {% if request.user.is_authenticated %}
    <button
      class="nav-btn user-btn"
      id="navbarDropdowToggle"
      >
      <img 
        class="down-arrow"
        src="/assets/icons/right-arrow.svg"
        alt="User Profile"
        id="navbarDropdowArrow"
        >
      {{ request.user.display_name }}
    </button>
  {% else %}
    <a class="nav-btn user-btn" href="">
      Guest Workspace
    </a>
  {% endif %}
  </div>
</nav>

{% if request.user.is_authenticated %}
<!-- Menu -->
<div class="navbar__dropdown" id="navbarDropdown">
  <h2>{{ request.user.display_name }}</h2>
  <h3>Account & Settings</h3>
  <div class="navbar__dropdown__section">
    <ul>
      <li>Setting Stuff</a></li>
    </ul>
    <ul>
      <li>Account Stuff</li>
    </ul>
  </div>

  <h3>Abracadashboard</h3>
  <div class="navbar__dropdown__section">
  <ul>
    <li><a href="">Abracadashboard</a></li>
  </ul>
  </div>
</div>
{% endif %}

<main>
  {% block main %}
    <header class="page-header">
      {% block header %}
      <h1>Abracadabra Sports</h1>
      <p>Discover and join your favorite sports activities.</p>
      {% endblock %}
    </header>

    {% block nomax %}
      <div class="full-width-container">
      {% block content %}
      {% endblock %}
      </div>
    {% endblock %}
  {% endblock %}

</main>


<footer class="page-footer">
  {% block footer %}
  {% endblock %}
</footer>

<!-- This is the muted overlay that covers the main content when the sidebar is open -->
<div class="muted-overlay" id="mutedOverlay"></div>


<aside class="sidebar" id="sidebar">
  {% block sidebar %}
  {% endblock %}
</aside>

<script src="/static/js/core.js"></script>

{% block script %}
{% endblock %}
  

</body>

</html>
