{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark">


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/themes/discover.css">

    <link rel="stylesheet" href="/static/css/core.css">
    {% block extra_head %}
    {% endblock %}
    <link rel="stylesheet" href="/static/css/elements.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/utils.css">
    <link rel="stylesheet" href="/static/css/styles.css">



    <script type="text/javascript" src="/static/js/htmx.js"></script>

    <title>{% block title %}Abracadabra Sports{% endblock %}</title>

</head>


<body>

<nav class="navigations">
  <div class="nav__section">

    <button id="sidebarToggle" class="nav-btn side-bar-toggle">
      <img class="nav-icon" src="/assets/icons/menu.svg" alt="Open Sidebar">
    </button>

    <a class="site-logo" href="{% url 'home' %}"></a>

  </div>

  <div class="nav__section">

    <button
      class="nav-btn user-btn"
      id="navbarDropdowToggle"
      >
      <img 
        class="down-arrow"
        src="/assets/icons/right-arrow.svg"
        alt="User Profile"
        id="navbarDropdowArrow"
        >
        {% if request.user.is_authenticated %}
          {{ request.user.display_name }}
        {% else %}
        Guest
        {% endif %}
    </button>

  </div>

</nav>

<!-- Menu -->
<div class="navbar__dropdown" id="navbarDropdown">

  {% if request.user.is_authenticated %}

  <a href="{% url 'app_on_deck' %}">Abracadashboard</a>
  <a href="{% url 'workspace' %}">Registration Workspace</a>

  <form method="POST" action="{% url 'account_logout' %}">
    {% csrf_token %}
  <button type="submit" >Logout</button>
  </form>

  {% else %}
  <a href="{% url 'workspace' %}">Guest Workspace</a>

  <a href="/accounts/google/login/?process=login">Login with Google</a>
  {% endif %}

</div>

<main>
  {% block main %}
    <header class="page-header">
      {% block header %}
      <h1>Abracadabra Sports</h1>
      <p>Discover and join your favorite sports activities.</p>
      {% endblock %}
    </header>

    {% block nomax %}
      <div class="full-width-container">
      {% block content %}
      {% endblock %}
      </div>
    {% endblock %}
  {% endblock %}

</main>


<footer class="page-footer">
  {% block footer %}
  {% endblock %}
</footer>

<!-- This is the muted overlay that covers the main content when the sidebar is open -->
<div class="muted-overlay" id="mutedOverlay"></div>


<aside class="sidebar" id="sidebar">
  {% block sidebar %}
  {% endblock %}
</aside>

<script src="/static/js/core.js"></script>

{% block script %}
{% endblock %}
  

</body>

</html>
