{% extends "core/base.html" %}
{% block title %}Abracadabra Sports{% endblock %}

{% block content %}
  <section class="card-section">
    <div>
      <h1>Join the Game!</h1>
      <p class="quote">
        "Sports is the magic that brings us together, where every game is a new adventure waiting to be discovered."
      </p>
      <p class="quote-author">- Abracadabra Sports</p>
    </div>
    <div>
      <h2>Discover Sports</h2>
      <a class="sport-icon-link" href="{% url 'basketball' %}">
      <img class="sport-icon" src="/assets/sport-icons/basketball.webp" alt="Basketball Icon" class="icon"><br>
      Basketball
      </a>
    </div>
  </section>
{% endblock %}
