{% extends "core/base.html" %}
{% block title %}Abracadabra Sports{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/static/css/themes/discover.css">
{% endblock %}


{% block nav_links %}
<a href="/user/accounts/login/" class="btn">Login</a>
<a href="/user/accounts/signup/" class="btn">Sign Up</a>
{% endblock %}


{% block main %}
<header class="page-header">
  <h1>Welcome to Abracadabra Sports</h1>
  <p>Discover and join your favorite sports activities.</p>
</header>
<div class="full-width-container">
  <section class="home__section">
    <div>
      <h1>Join the Game!</h1>
      <p class="quote">
        "Sports is the magic that brings us together, where every game is a new adventure waiting to be discovered."
      </p>
      <p class="quote-author">- Abracadabra Sports</p>
    </div>
    <div>
      <h2>Discover Sports</h2>
      <a class="sport-icon-link" href="/discover/basketball/">
      <img class="sport-icon" src="/assets/sport-icons/basketball-1.png" alt="Basketball Icon" class="icon"><br>
      Basketball
      </a>
    </div>
  </section>
</div>
{% endblock %}

{% block sidebar %}
{% include "core/includes/sidebar/discover-base.html" %}
{% endblock %}
