{% extends "core/base.html" %}
{% block title %}AbracaDashboard{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="/static/css/themes/cold.css">
    <link rel="stylesheet" href="/static/css/layouts/app.css">
{% endblock %}

{% block nav_links %}
  <a href="/">home</a>
  <a href="/discover">Discover</a>
{% endblock %}

{% block main %}

  <section class="top-controller">
    {% block controls %}
    <button class="btn">Add Button</button>
    {% endblock %}
  </section>

  <div class="full-width-container">
    <section class="app__section">
    {% block content %}{% endblock %}
    </section>
  </div>
{% endblock %}

