{% extends "core/base.html" %}
{% block title %}AbracaDashboard{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="/static/css/themes/app.css">
    <link rel="stylesheet" href="/static/css/dep/leaflet.css" />
    <link rel="stylesheet" href="/static/css/dep/leaflet-control.css" />
{% endblock %}

{% block header%}
  <h1 class="page-title">AbracaDashboard</h1>

  <div class="row gap-1 pad-1">
    <img
      loading="lazy"
      src="{{ request.user.profile_picture_url }}"
      alt="User Profile Picture"
      class="profile-picture"
      >

      <dl class="grid">
        <dt>User Name:</dt>
        <dd>{{ request.user.username }}</dd>
        <dt>Display Name:</dt>
        <dd>{{ request.user.display_name }}</dd>
        <dt>Email:</dt>
        <dd>{{ request.user.email }}</dd>
        <dt>Member Since:</dt>
        <dd>{{ request.user.date_joined|date:"F j, Y" }}</dd>
        <dt>Last Login:</dt>
        <dd>{{ request.user.last_login|date:"F j, Y, g:i A" }}</dd>
        <dt>Memberships:</dt>
        <dd>

          {% if request.user.memberships.all %}
            <ul>
              {% for membership in request.user.memberships.all %}
                <li>{{ membership.name }}</li>
              {% endfor %}
            </ul>
          {% else %}
            <p>No memberships found.</p>
          {% endif %}
        </dd>
      </dl>
  </div>

{% endblock %}

{% block content %}
<p>This is content</p>
{% endblock %}

{% block sidebar %}
  <div class="sidebar__section">
    <ul class="sidebar__list active" aria-label="Main Navigation">

      <li><a href="{% url 'app_on_deck' %}">On Deck</a></li>
      <li><a href="{% url 'app_images' %}">Images</a></li>
      <li><a href="{% url 'app_address_book' %}">Address Book</a></li>

      <li><a href="{% url 'app_orgs' %}">Orgs</a></li>
      <li><a href="{% url 'app_teams' %}">Teams</a></li>

      <li><a href="{% url 'app_watch_list' %}">Watch List</a></li>
      <li><a href="{% url 'app_memberships' %}">Memberships</a></li>

    </ul>
  </div>
{% endblock %}


