{% extends 'app/base.html' %}

{% block header %}
  <!-- Organization Details Card -->

  <div class="row gap-1 pad-1">

    <button onclick="history.back()">
      <img src="/assets/icons/right-arrow.svg" alt="Back" class="nav-icon reverse">
    </button>
  
    <img class="poster small" src="{{ event.poster_url }}" alt="{{ event.name }} Poster">

    <div>

      <h1>{{ event.name }}</h1>

      <dl class="grid">
        <dt>Type:</dt>
        <dd>{{ event.event_type }}</dd>
        <dt>Start Date:</dt>
        <dd>{{ event.start_date }}</dd>
        <dt>End Date:</dt>
        <dd>{{ event.end_date }}</dd>

    </div>

    <img 
      role="button"
      tabindex="0"
      class="bracket-open"
      src="/assets/icons/bracket.svg"
      id="bracketOpenButton" 
      aria-label="BracketOpenButton"
      >

  </div>

{% endblock%}

{% block content %}

  <section id="entriesContainer" class="mb-2">
    {% include 'app/fragments/event_manage_entries.html' with event=event %}
  </section>

  <section id="divisionsContainer">
    {% include 'app/fragments/event_manage_divisions.html' with event=event %}
  </section>

  <dialog class="modal" id="assignModal">

    <form method="dialog">
      <button class="close-btn">
      </button>
    </form>

    <div class="modal-content" id="modalContent">
      <!-- Dynamic content will be loaded here -->
    </div>

  </dialog>

  <!-- Bracket Builder Overlay -->
  <div class="overlay bracket" id="bracketBuilderOverlay">

    <!-- Header -->
    <div class="padding-2">

      <!-- Title -->
      <div class="row gap-1 center">
        <h1>Bracket Builder</h1>
        <button class="close-btn" id="closeBracketBuilderButton"></button>
      </div>

      <!-- Selects -->
      <div class="form__bar mb">
        <select name="site" id="siteSelect">
          <option value="0">Select Site</option>
        </select>
        <select name="division" id="divisionSelect">
          <option value="0">Select Division</option>
        </select>
        <select name="bracket" id="bracketTypeSelect">
          <option value="0">Change Bracket</option>
        </select>
        <button class="btn" id="saveButton">Save</button>
        <button class="btn" id="resetButton">Reset</button>
        <label for="losersBracket">Losers Bracket</label>
        <input type="checkbox" id="loserBracketInput" name="losersBracket">
      </div>
      
      <!-- Game Box -->
      <div class="game-box handled">
        <div class="game-box__container" id="gamesContainer">
        </div>
      </div>

    </div>

    <!-- Schedule Table -->
    <div class="sheet-table__container handled" id='tableContainer'>
      <h2 class="sheet-table__title">Bracket Builder</h2>
      <table class="sheet-table" id="bracketBuilderTable">
      </table>
    </div>
  </div>

  <link rel="stylesheet" href="/static/css/builder.css" />
  <script src="/static/js/bracketbuilder.js"></script>

{% endblock content%}
