{% extends 'app/base.html' %}

{% block content %}
<section class="image-gallery" aria-label="Image preview">

  <div class="upload-image-icon">
    <img
      src="/assets/icons/upload.svg"
      alt="Add an image."
      style="filter: invert(1);"
      onclick="document.getElementById('uploadDialog').showModal()"
      />
  </div>

  {% for image in images %}
  <div 
    hx-get="{% url 'image_form' %}?image_slug={{ image.safe_slug }}"
    hx-target="#imageDetailsContent"
    hx-swap="innerHTML"
    onclick="document.getElementById('imageDetails').showModal()"
    >
      <img src="{{ image.image.url }}" alt="{{ image.caption }}" class="image-preview" />
  </div>

  {% endfor %}


</section>

<dialog class="modal" id="imageDetails">
  <div id="imageDetailsContent">
  </div>
</dialog>

<dialog class="modal" id="uploadDialog">

  <form method="dialog">
    <button class="close-btn"></button>
  </form>

  <form method="POST" action="{% url 'image_upload' %}" enctype="multipart/form-data" id="uploadForm" >

    {% csrf_token %}

    <div class="drop-zone" id="dropZone" onclick="document.getElementById('fileInput').click();">
      <img id="preview" class="image-upload-preview" />
      <p class="image-drop-prompt" id="dropPrompt"> Click or drag a file here to upload </p>
    </div>

    <input name="image" type="file" accept="image/*" id="fileInput" />
    <input class="mb-1" name="caption" type="text" placeholder="Image caption" />
    <br>
    <button class="btn" type="submit">Upload</button>

  </form>

</dialog>

{% endblock content %}


{% block script %}
<script>

  const dropZone = document.getElementById('dropZone');
  const fileInput = document.getElementById('fileInput');
  const preview = document.getElementById('preview');
  const dropPrompt = document.getElementById('dropPrompt');

  function handleFile(file) {
    if (!file || !file.type.startsWith('image/')) return;

    console.log('File selected:', file);
    const reader = new FileReader();
    reader.onload = e => {
      console.log('File read successfully:', e.target.result);
      preview.src = e.target.result;
      preview.style.display = 'block';
      dropPrompt.classList.add('hidden');
    };
    reader.readAsDataURL(file);
  }

  fileInput.addEventListener('change', () => {
    handleFile(fileInput.files[0]);
  });

  dropZone.addEventListener('dragover', (e) => {
    e.preventDefault();
    dropZone.classList.add('dragover');
  });

  dropZone.addEventListener('dragleave', () => {
    dropZone.classList.remove('dragover');
  });

  dropZone.addEventListener('drop', (e) => {
    e.preventDefault();
    dropZone.classList.remove('dragover');
    if (e.dataTransfer.files.length) {
      fileInput.files = e.dataTransfer.files;
      handleFile(e.dataTransfer.files[0]);
    }
  });

</script>

{% endblock script %}

