{% extends 'app/base.html' %}

{% block content %}

<div class="app-card-container" id="recentActivity">
  <h2>Recent Activity</h2>
  {% for event in in_progress %}
    {% include 'app/event_card.html' with event=event %}
  {% endfor %}
</div>

<div class="app-card-container" id="recentActivity">
  <h2>Feed</h2>
  {% for event in in_progress %}
    {% include 'app/event_card.html' with event=event %}
  {% endfor %}
</div>

<div class="app-card-container" id="recentActivity">
  <h2>History</h2>
  {% for event in in_progress %}
    {% include 'app/event_card.html' with event=event %}
  {% endfor %}
</div>

{% endblock content %}
