{% extends "discover/base.html" %}

{% block main %}
<header class="page-header">
    <form action="/search" method="get">
      <img loading="lazy" class="thumbnail" src="/assets/sport-icons/basketball-1.png" alt="Basketball Icon" class="icon"><br>
      <div class="inline-search">
        <input type="text" name="query" placeholder="Search for Organizations, Events, or Teams...">
        <button type="submit">Search</button>
      </div>
    </form>
    This is  the header
</header>

<div class="row wrap gap-1" id="searchResults">
  <!-- Initial empty or initial results go here -->

  <div
    id="loadMore"
    hx-get="{% url 'basketball_spotlight' page_number=1%}"
    hx-trigger="revealed"
    hx-target="#loadMore"
    hx-swap="outerHTML"
    >
    Loading more....
  </div>

</div>
{% endblock %}
