{% extends "core/base.html" %}

{% block main %}
<header class="page-header mb-1">
    <img loading="lazy" src="/assets/sport-icons/basketball.webp" alt="Basketball Icon" class="icon"><br>
</header>

<div class="results-container">

  <div
    id="spotlight"
    hx-get="{% url 'search' %}?sport={{ sport }}&page=1"
    hx-trigger="revealed"
    hx-target="#spotlight"
    hx-swap="outerHTML"
    >
    Loading....
  </div>

</div>



<div class="results-container wide">

  <div
    id="loadMore"
    hx-get="{% url 'search' %}?sport={{ sport }}&page=2"
    hx-trigger="revealed"
    hx-target="#loadMore"
    hx-swap="outerHTML"
    >
    Loading more....
  </div>

</div>
{% endblock %}
