{% extends "core/base.html" %}
{% block title %}Discover Basketball{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/static/css/themes/discover.css">
{% endblock %}

{% block sidebar %}
{% include "core/includes/sidebar/discover-base.html" %}
{% endblock %}

{% block main %}
<header class="page-header">
    <form action="/search" method="get">
      <img loading="lazy" class="thumbnail" src="/assets/sport-icons/basketball-1.png" alt="Basketball Icon" class="icon"><br>
      <div class="inline-search">
        <input type="text" name="query" placeholder="Search for Organizations, Events, or Teams...">
        <button type="submit">Search</button>
      </div>
    </form>
</header>

<div class="search-results__container" id="searchResults">
  <!-- Initial empty or initial results go here -->

<div
  id="loadMore"
  hx-get="/discover/basketball/load-more/?page=3242342341"
  hx-trigger="revealed"
  hx-target="#loadMore"
  hx-swap="outerHTML"
  hx-cache
  >
  Loading more....
</div>

</div>
{% endblock %}
