{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark">


<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coach Dashboard</title>

    <link rel="stylesheet" href="/static/css/hero.css">
    <link rel="stylesheet" href="/static/css/layouts/app.css">
    <link rel="stylesheet" href="/static/css/layouts/footer.css">
    <link rel="stylesheet" href="/static/css/themes/cold.css">
    <link rel="stylesheet" href="/static/css/btns.css">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>


</head>


<body>


<!--<header class="optional-header"></header>-->

<nav id="appNav" class="app-nav">

  <div>
    <img class="nav-logo invert" src="assets/hambergar.svg" alt="Sidebar Toggle" id="sidebar-toggle">
    <img class="nav-logo invert" src="assets/logo.svg" alt="Logo">
    <a href="/">home</a>
  </div>

  <div>
    <ul class="nav-list">
      <button class="nav-btn" id="nav-toggle">
        <img src="assets/arrow.svg" alt="Toggle Navigation">
        {% if user.is_authenticated %}
          <span class="nav-btn-text">Menu</span>
        {% else %}
          <span class="nav-btn-text">Login</span>
        {% endif %}
      </button>
    </ul>
  </div>

  <div class="nav-bar-manu active">
    <ul>
      <li><a href="/user/profile">Profile</a></li>
      <li><a href="/user/account">Account</a></li>
      <li><a href="/user/accounts/logout">Logout</a></li>
    </ul>
  </div>

</nav>


<main>

  {% block main %}
  {% endblock %}

</main>


<aside class="sidebar" id="sidebar">

  <div class="sidebar-section active">
    <div class="sidebar-title">
      <h2>General</h2>
    </div>

    <ul class="sidebar-list">
      <li>
        <a class="sidebar-item" href="">Info</a>
      </li>
      <li> 
        <a class="sidebar-item" href="">Settings</a>
      </li>
      <li>
      </li>
    </ul>
  </div>


  <div class="sidebar-section active">
    <div class="sidebar-title">
      <h2>Events</h2>
    </div>

    <ul class="sidebar-list">
      <li>
        <a class="sidebar-item" href=""> Upcoming</a>
      </li>
      <li> 
        <a class="sidebar-item" href="">History</a>
      </li>
      <li>
      </li>
    </ul>
  </div>


  <div class="sidebar-section active">
    <div class="sidebar-title">
      <h2>Teams</h2>
    </div>

    <ul class="sidebar-list">
      <li>
        <a class="sidebar-item" href="">Schedule</a>
      </li>
      <li> 
        <a class="sidebar-item" href="">Roster</a>
      </li>
      <li>
        <a class="sidebar-item" href="">Status</a>
      </li>
    </ul>
  </div>


</aside>

</body>

</html>
