{% extends 'discover/base.html' %}

{% block title %}Event Details{% endblock %}

{% block main %}

<div class="details-page pad-2 m-2">

      <div class="details-page__col">
        <h2>{{ event.name }}</h2>
        <p>
          {{ event.description }}
        </p>
        <hr>
        <h3>{{ event.organization.name }}</h3>
        <a href="{% url "org_details" event.organization.safe_slug %}">view</a>
        <p>{{ event.organization.description }}</p>
        <hr>
        <h3>About this Event</h3>
        <ul>
          <li>User filled info</li>
          <li>User filled info</li>
          <li>User filled info</li>
          <li>User filled info</li>
        </ul>
      </div>

      <div class="details-page__col">
        <h2>{{ event.formatted_price }}</h2>
        <h3>Per person or group</h3>
        <h3>About this Event</h3>
        <hr>
        <ul>
          <li>
            <form class="mb-1" method="POST" action="{% url 'event_register' event.safe_slug %}" enctype="multipart/form-data">
              {% csrf_token %}
              <button type="submit" class="btn mb-1">Register As Guest</button>
            </form>
          </li>
          <li><a class="btn" href="{% url 'event_register' event.safe_slug %}">Create an account</a></li>
          <li><button class="btn">add to list</a></li>
        </ul>
        <hr>
        <p>Dev note: or the tournament is live/over. We have to show something here.</p>
        <ul>
          <li><a href="/gameday/">gameday</a></li>
        </ul>
      </div>

    <div class="large-poster">
      <img class="large-poster" src="{{ event.poster_url }}" alt="Event Poster">
    </div>



</div>
{% endblock %}

