{% extends 'discover/base.html' %}

{% block title %}<title>Abracadabra Sports - Marketplace</title>{% endblock %}

{% block main %}
<div class="full-width-container">
  <div class="max-width-container">
    <section class="discover__section">
      <p>Organization {{ organization.name }}</p>
      <p>Directore {{ director.user }}</p>
      <!-- <a href="/discover/persona/{{ director.user.safe_slug }}/">View Director Profile</a> -->
      <a href="{% url 'discover_persona' director.user.safe_slug %}">View Director Profile</a>
      <h3>Members</h3>
      {% for member in memberships %}
      <p>{{ member.user }} - {{ member.role }}</p>
      {% endfor %}

      {% for event in events %}
      <h3>{{ event.name }}</h3>
      <p>Date: {{ event.date }}</p>
      <p>Description: {{ event.description }}</p>
      {% endfor %}
      {% if not events %}
      <p>No events found for this organization.</p>
      {% endif %}
    </section>
  </div>
</div>
{% endblock %}

