{% extends "discover/base.html" %}
{% block title %}Abracadabra Sports{% endblock %}

{% block header %}

  <h1>Workspace</h1>

  {% if user.is_authenticated %}
    {% include "discover/fragments/user_header.html" with user=user %}
  {% else %}
    {% include "discover/fragments/guest_header.html" %}
  {% endif %}

{% endblock %}


{% block content %}

  <div 
    id="pageContent"
    hx-get="{% url 'workspace_content' %}"
    hx-target="#pageContent"
    hx-swap="innerHTML"
    hx-trigger="load"
    >
  </div>

{% endblock %}
