{% extends "discover/base.html" %}
{% block title %}Abracadabra Sports{% endblock %}

{% block header %}

  <h1>Guest Workspace</h1>
  <ul>
    <li><strong>Drafts:</strong> ({{ drafts|length }})</li>
    <li><strong>Pending:</strong> ({{ pending|length }})</li>
    <li><strong>Registered:</strong> ({{ registered|length }})</li>
  </ul>

{% endblock %}


{% block content %}

{% include "discover/fragments/contact_info.html" with guest=guest %}

<section 
  hx-get="{% url  'teams' %}"
  hx-target="#teamAndDivisionSection"
  hx-swap="outerHTML"
  hx-trigger="load"
  id="teamAndDivisionSection"
  ></section>

{% endblock %}
